<app-menu></app-menu>

<div class="txt">
    <h5 style="margin-bottom: 20px; text-decoration: underline;"><b>Sobre Nós</b></h5>
    <div>
        <div class="card post-info" style="display: inline-block; width: 800px; padding-left: 15px; padding-top: 15px; padding-bottom: 30px;">
            <img [src]="Franciely" class="img_redonda" width="100" alt=""/>
            <div style="margin-left: 15px; display: inline-block;">
                <h6>
                    <b>Franciely Cristina Hainaski de Aquino</b>
                    <br>RA: 0210482123007
                </h6>
            </div>
            <div style="margin-top: 10px;">
                <p style="text-align: justify; margin-right: 10px;">Aluna de Análise e Desenvolvimento de Sistemas, cursando atualmente o 6º semestre. 
                    Esse projeto foi desenvolvido a fim de avaliar os conhecimentos adquiridos ao longo do curso,
                    e assim sendo apresentado à banca final do Trabalho de Graduação (TG), tendo Viviane de Fatima Bartholo 
                    como professora orientadora.</p>
            </div>
        </div>
    </div>
</div>
