
<app-menu></app-menu>

<div class="tHome">
<h5><b>Recursos mais acessados</b></h5>
<table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Área</th>
          <th scope="col">Conteúdo</th>
          <th scope="col">Tipo</th>
          <th scope="col">Avaliação</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td><a class="nav-link" href="macete-escolar">Otto</a></td>
          <td>@mdo</td>
          <td>
            <div class="star-container">
              <span class="star-icon" *ngFor="let i of [0, 1, 2, 3, 4];"
                    [ngClass]="{ 'ativo': activeStarIndex === i, 'star-icon-large': true }"
                    (click)="handleClick($event)">
              </span>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>
            <div class="star-container">
              <span class="star-icon" *ngFor="let i of [0, 1, 2, 3, 4];"
                    [ngClass]="{ 'ativo': activeStarIndex === i, 'star-icon-large': true }"
                    (click)="handleClick($event)">
              </span>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry </td>
          <td>The Bird</td>
          <td>@twitter</td>
          <td>
            <div class="star-container">
              <span class="star-icon" *ngFor="let i of [0, 1, 2, 3, 4];"
                    [ngClass]="{ 'ativo': activeStarIndex === i, 'star-icon-large': true }"
                    (click)="handleClick($event)">
              </span>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>
            <div class="star-container">
              <span class="star-icon" *ngFor="let i of [0, 1, 2, 3, 4];"
                    [ngClass]="{ 'ativo': activeStarIndex === i, 'star-icon-large': true }"
                    (click)="handleClick($event)">
              </span>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>
            <div class="star-container">
              <span class="star-icon" *ngFor="let i of [0, 1, 2, 3, 4];"
                    [ngClass]="{ 'ativo': activeStarIndex === i, 'star-icon-large': true }"
                    (click)="handleClick($event)">
              </span>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Larry </td>
          <td>The Bird</td>
          <td>@twitter</td>
          <td>
            <div class="star-container">
              <span class="star-icon" *ngFor="let i of [0, 1, 2, 3, 4];"
                    [ngClass]="{ 'ativo': activeStarIndex === i, 'star-icon-large': true }"
                    (click)="handleClick($event)">
              </span>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>
            <div class="star-container">
              <span class="star-icon" *ngFor="let i of [0, 1, 2, 3, 4];"
                    [ngClass]="{ 'ativo': activeStarIndex === i, 'star-icon-large': true }"
                    (click)="handleClick($event)">
              </span>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>
            <div class="star-container">
              <span class="star-icon" *ngFor="let i of [0, 1, 2, 3, 4];"
                    [ngClass]="{ 'ativo': activeStarIndex === i, 'star-icon-large': true }"
                    (click)="handleClick($event)">
              </span>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>Larry </td>
          <td>The Bird</td>
          <td>@twitter</td>
          <td>
            <div class="star-container">
              <span class="star-icon" *ngFor="let i of [0, 1, 2, 3, 4];"
                    [ngClass]="{ 'ativo': activeStarIndex === i, 'star-icon-large': true }"
                    (click)="handleClick($event)">
              </span>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>
            <div class="star-container">
              <span class="star-icon" *ngFor="let i of [0, 1, 2, 3, 4];"
                    [ngClass]="{ 'ativo': activeStarIndex === i, 'star-icon-large': true }"
                    (click)="handleClick($event)">
              </span>
            </div>
          </td>
        </tr>
      </tbody>
</table>
</div>

